<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Stats</title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <% include global/header %>
  <div id="stats">
    <h2>Stats- ____ games played</h2>
    <table>
      <tr>
        <th class="top_row">Player Name</th>
        <th class="top_row">Games Won</th>
        <th class="top_row">Games Tied</th>
        <th class="top_row">Games Lost</th>
        <th class="top_row">Win/Loss Ratio</th>
        <th class="top_row">Paper</th>
        <th class="top_row">Rock</th>
        <th class="top_row">Scissors</th>
      </tr>

      <ul>
        <%for(var i = 0; i<data.users.length-1; i+=1){%>
          <a href="/<=data.users[i]%>/game">
            <tr>
              <th><%=data.users[i].name%></th>
              <td><%=data.users[i].wins%></td>
              <td><%=data.users[i].tied%> </td>
              <td><%=data.users[i].losses%> </td>
              <td><%=data.users[i].wins%>:<%=data.users[i].losses%> </td>
              <th><%=data.users[i].paper%></th>
              <th><%=data.users[i].rock%></th>
              <th><%=data.users[i].scissors%></th>

            </tr>
          </a>
          <%}%>
        </ul>
      </table>
      <table>
        <tr>
          <th class="top_row">Player Name</th>
          <th class="top_row">Games Won</th>
          <th class="top_row">Games Tied</th>
          <th class="top_row">Games Lost</th>
          <th class="top_row">Win/Loss Ratio</th>
          <th class="top_row">Paper</th>
          <th class="top_row">Rock</th>
          <th class="top_row">Scissors</th>
        </tr>
        <tr>
          <ul>
            <%for(var i = 0; i<data.villains.length-1; i+=1){%>
              <a href="/<=data.villains[i]%>/game">
                <tr>
                  <th><%=data.villains[i].name%></th>
                  <td><%=data.villains[i].wins%></td>
                  <td><%=data.villains[i].tied%> </td>
                  <td><%=data.villains[i].losses%> </td>
                  <td><%=data.villains[i].wins%>:<%=data.villains[i].losses%> </td>
                    <th><%=data.villains[i].paper%></th>
                    <th><%=data.villains[i].rock%></th>
                    <th><%=data.villains[i].scissors%></th>
                  </tr>
                </a>
                <%}%>
              </ul>
            </table>
          </div>

          <footer>
            Brought to you by the cool kids of Software Engineering - Fall, 2018.
          </footer>
          <script src="scripts/scripts.js">
          </script>
        </body>
        </html>
