<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Stats</title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <% include global/header %>
  <div id="stats">
    <h2>Stats- ____ games played</h2>
    <table>
      <tr>
        <th class="top_row">Player Name</th>
        <th class="top_row">Paper %</th>
        <th class="top_row">Rock %</th>
        <th class="top_row">Scissors %</th>
        <th class="top_row">Wins %</th>
      </tr>
      <tr>
        <th><span class="player_name_span"></span>  </th>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <th> B(r)owser </th>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <ul>
        <%for(var i = 5; i<data.users.length-4; i+=5){%>
          <a href="/<=data.users[i]%>/game">
            <tr>
              <th><%=data.users[i]%></th>

              <td></td>    <td></td>    <td></td>    <td></td>

            </tr>
          </a>
          <%}%>
        </ul>
        <ul>
          <%for(var i = 9; i<data.villains.length-9; i+=9){%>
            <a href="/<=data.villains[i]%>/game">
              <tr>
                <th><%=data.villains[i]%></th>
                <td><%=data.villains[i+4]%></td>
                <td><%=data.villains[i+5]%> </td>
                <td><%=data.villains[i+6]%> </td>
                <td><%=data.villains[i+7]%> </td>
              </tr>
            </a>
            <%}%>
          </ul>
        </table>
      </div>

      <footer>
        Brought to you by the cool kids of Software Engineering - Fall, 2018.
      </footer>
      <script src="scripts/scripts.js"></script>
    </body>
    </html>
