<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Stats</title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <% include global/header %>
  <div id="stats">
    <h2>Stats- ____ games played</h2>
    <table>
      <tr>
        <th class="top_row">Player Name</th>
        <th class="top_row">Games Won</th>
        <th class="top_row">Games Tied</th>
        <th class="top_row">Games Lost</th>
        <th class="top_row">Win/Loss Ratio</th>
      </tr>

      <ul>
        <%for(var i = 5; i<data.users.length-4; i+=5){%>
          <a href="/<=data.users[i]%>/game">
            <tr>
              <th><%=data.users[i]%></th>
              <td><%=data.users[i+1]%></td>
              <td><%=data.users[i+2]%></td>
              <td><%=data.users[i+3]%></td>
              <td><%=data.users[i+1]/data.users[i+3]%></td>


            </tr>
          </a>
          <%}%>
        </ul>
      </table>
      <table>
        <tr>
          <th class="top_row">Player Name</th>
          <th class="top_row">Games Won</th>
          <th class="top_row">Games Tied</th>
          <th class="top_row">Games Lost</th>
          <th class="top_row">Win/Loss Ratio</th>
        </tr>
        <tr>
          <ul>
            <%for(var i = 10; i<data.villains.length-10; i+=10){%>
              <a href="/<=data.villains[i]%>/game">
                <tr>
                  <th><%=data.villains[i]%></th>
                  <td><%=data.villains[i+7]%></td>
                  <td><%=data.villains[i+8]%> </td>
                  <td><%=data.villains[i+9]%> </td>
                  <td><%=data.villains[i+7]/data.villains[i+9]%> </td>
                </tr>
              </a>
              <%}%>
            </ul>
          </table>
        </div>

        <footer>
          Brought to you by the cool kids of Software Engineering - Fall, 2018.
        </footer>
        <script src="scripts/scripts.js"></script>
      </body>
      </html>
